venv/
.idea/
big_algo_framework/__pycache__/
big_algo_framework/*/__pycache__/

app/*
AutoEC2/*
portfolio/*

strategies/all_strategy_files/__pycache__/
strategies/all_strategy_files/*/__pycache__/
strategies/all_strategy_files/data/config.ini

strategies/__pycache__/
strategies/*/__pycache__/

strategies/test.txt
strategies/test_bb_rev.py

ngrok.exe