venv/
algo/
.idea/

big_algo_framework/__pycache__/
big_algo_framework/*/__pycache__/

docs/_build

examples/__pycache__/
examples/*/__pycache__/

examples/chromedriver.exe
examples/token.json

#   testcode folder is added here as the whole folder will be ignored 
#   since the folder is not to be included in the repo nor any contained files
testcode/

#   ignore modules starting with test
test*

#   VSCode settings are not needed
.vscode/
