anyio==3.5.0
boto3==1.20.37
botocore==1.23.37
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
docopt==0.6.2
fastapi==0.72.0
greenlet==1.1.2
halo==0.0.31
ibapi==9.81.1.post1
idna==3.3
jmespath==0.10.0
log-symbols==0.0.14
numpy==1.20.1
pandas==1.2.2
pandas-market-calendars==1.6.1
pipreqs==0.4.11
psycopg2==2.9.3
pydantic==1.9.0
python-dateutil==2.8.2
pytz==2021.1
requests==2.27.1
s3transfer==0.5.0
six==1.16.0
sniffio==1.2.0
spinners==0.0.24
SQLAlchemy==1.4.29
starlette==0.17.1
termcolor==1.1.0
toolz==0.11.2
trading-calendars==2.1.1
typing_extensions==4.0.1
urllib3==1.26.8
yarg==0.1.9
uvicorn
tweepy
discord_webhook